%h5 If you find SENT useful, please reference this publication:
%p
  == Vazquez, M. and Carmona-Saez, P. and Nogales-Cadenas, R. and Chagoyen, M. and Tirado, F. and Carazo, J.M. and Pascual-Montano, A.:
  %b SENT: semantic features in text. 
  %i Nucleic Acids Research 2009, doi:10.1093/nar/gkp392 
  %a{ :target => '_blank', :href => 'http://www.ncbi.nlm.nih.gov/sites/entrez?db=pubmed&cmd=DetailsSearch&term=19458159[uid]&log$=activity'} [Pubmed]



