#help.guide
  :redcloth
    
    h2. Quick Start Guide


    Check the "help":/help section for a more detailed explanation, as well as some usage tips.
    Also, checkout the tip pop-ups by hoovering the mouse over the [?] symbols.

    h3. Step 1: 

    Select the organisms the genes belong to.
    !/images/guide/datasets.png!

    h3. Step 2:

    Select the genes to analyze. First determine if the genes are one of the "supported database formats":/help/glossary#ids. If they are not,
    maybe you can use our "translation tool":/translate.


    Paste ids on the text area, one per line or separated by comas
    !/images/guide/ids.png!

    or upload a file with the ids.
    !/images/guide/file.png!

    In any case, there must be at least 3 and at most 1024 genes.

    


    h3. Step 3:

    Select the factors to explore. The higher the value the greater the resolution of the
    analysis. Try several values to explore different resolutions. Use ranges and coma 
    separated values as in '2-5, 7, 10'
    !/images/guide/factors.png!

    The numbers must be between 2 and 32, and no more than 8 different values.


    h3. Step 4:

    You may select to build the literature index or perform a fine grained analysis, check the 
    "help":/help for more information. If in doubt, leave the options unselected.
    Name your job if you wish, that name can be used to retrieve the job at any further time by
    pasting it in the url.  If you specify an email it will be used to notify the completion of the
    job
    !/images/guide/options.png!

    h3. Step 5:

    Hit submit. The results should be ready in a few minutes (depending on the server load).
    !/images/guide/submit.png!



    h3. "View an example":/Example_Human_fine

